body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFF9F4EB;
    color: #333;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.5;
   
    background-image: url('./main img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
      
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 20vh;
}
h1{
    padding: 0;
}
h2{
    padding: 0;
}
.header-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;

}
/* .header-button:hover {
    background-color: #3e8e41;
} */

.ref-link {
    width: 33.3%;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    border-radius: 5px;
}

.Welcome {
     font-size: 35px;
    
    width: 100%;
    height: 1000px; /* גובה 1000 פיקסלים */
    /* background-size: cover; /* מכסה את כל הדיב */
    background-position: center; /* ממקם את התמונה במרכז */
    background-color: rgba(255, 255, 255, 0.5); /* צבע רקע לבן עם שקיפות של 50% */
    background-blend-mode: overlay; /* שילוב צבע הרקע עם התמונה */
} 